mixin grey-block-content-advantages
	.template-wrapper.template-wrapper_advantages.section-wrapper.full-height
		.grey-block__col.grey-block__col_sticky
			h2.main-h2.main-h2_competencies <span class="br">Компетенции</span> <span class="br">которые</span> <span class="red-text">нам нужны</span>
			.grey-block__text
				| <span class="br">Не обязательно разбираться во всех</span> направлениях — достаточно одного
		.grey-block__col
			.competencies-list
				.competencies-list__item
					.competencies-list__item-title CMS
					.competencies-list__item-text Битрикс, Drupal, Joomla, Wordpress
				.competencies-list__item
					.competencies-list__item-title Бэк-энд
					.competencies-list__item-text PHP, MySQL
				.competencies-list__item
					.competencies-list__item-title Фронт-энд
					.competencies-list__item-text HTML/CSS, JS, React, Vue
				.competencies-list__item
					.competencies-list__item-title Дизайн
					.competencies-list__item-text UI/UX, 3D, Иллюстратор, Фирменный стиль
				.competencies-list__item
					.competencies-list__item-title Прочее
					.competencies-list__item-text Контент менеджер, Копирайтер, 1С специалист
mixin grey-block(class_modification)
	if class_modification === undefined
		section(class= 'grey-block')
			+grey-block-content-advantages
	else
		section(class= 'grey-block ' + class_modification)
			+grey-block-content-advantages
