.offer-list {
	margin-top: 116px;
}
.gorizontal-wrapper {
	display: flex;
	align-items: flex-start;
	transform: translateX(0);
}
.offer-list__item {
	width: 392px;
	height: 408px;
	border-radius: 8px;
	box-shadow: 0 0 50px 0 rgba(83, 97, 119, 0.15);
	flex-shrink: 0;
	margin-right: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 56px 32px 63px;
}
.offer-content {
	width: 100%;
}
.offer-list__item-icon {
	width: 136px;
	height: 136px;
	background: $color-green;
	border-radius: 8px;
	margin-bottom: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.offer-content__title {
	color: $main-fonts;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
	margin-bottom: 18px;
}
.offer-content__text {
	font-size: 18px;
	line-height: 1.78;
	color: $color-grey-prev-text;
}
