.main-h2_layout-cost {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.17;
  margin-bottom: 31px;
}
.template-wrapper_layout-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout-cost-wrapper-btn {
  margin-top: 64px;
}
