extends pug/base

append vars
	- title = "Удалённая работа для web-разработчиков"
	- meta.viewport = "width=device-width, initial-scale=1"
	- link.appleTouchIcon180x180 = "favicon/apple-touch-icon.png"
	- link.icon16x16 = "favicon/favicon-16x16.png"
	- link.icon32x32 = "favicon/favicon-32x32.png"
	- link.manifest = "favicon/site.webmanifest"
	- link.maskIcon.href = "favicon/safari-pinned-tab.svg"
	- link.maskIcon.color = "00f4ff"
	- meta.msapplicationTileColor = "#ffffff"
	- meta.themeColor = "#ffffff"

block content
	.all-wrapper
		+header
		+welcom-block
		+grey-block('section-animate')
		+gorizontal-block('offer section-animate')
		+grey-block_dont-expect('dont-expect section-animate')
		+gorizontal-dark-block('way-development section-animate')
		+layout-cost('section-animate')
		+projects-block('section-animate')
		+grey-block_advantages('advantages section-animate')
		+request('section-animate')
		+up-page('section-animate')
		+footer
